#pantsText, #pantsPic,
#shirtText, #shirtPic,
#jeansText, #jeansPic,
#hoodieText, #hoodiePic
{
	display: none;
}

body
{
	font-size: 30px;
	margin: 30px;
	background-color: #0b1a33;
	color: #c97a7a;
}

.three
{
	display: flex;
	text-align: center;
}

#pants, #shirt, #jeans, #hoodie
{
	flex:1;
	margin: 30px 0 0 30px;
}

#pantsText, #shirtText, #jeansText, #hoodieText
{
	flex: 1;
	margin: 100px 200px 0px 200px;
}

#pantsPic, #shirtPic, #jeansPic, #hoodiePic
{
	flex: 1;
}

img
{
	height: 400px;
	width: auto;
	margin-right: 200px;
	border: solid 3px #e6e8eb;
}

input[type="radio"]
{
	width: 14px;
	height: 14px;
	color: #1e1e1e;
}

#compute
{
	color: #4f5b66;
}

button
{
	background-color: #2bb3a3;
}

header
{
	color: #7ec8e3;
}